@media only screen and (max-width: 700px) {
  .nav-up {
    display: flex;
    min-height: 120px;
    padding-bottom: 0;
    justify-content: center;
  }

  .up-a {
    grid-area: up-a;
  }

  .up-b {
    a {
      font-size: 0.8rem;
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
    }

    grid-area: up-b;
  }

  .nav-low {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 380px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-left {
    width: 100%;
    order: 1;
  }

  .nav-up {
    min-height: 160px;
    order: 2;
  }

  .nav-mid-a {
    order: 3;
  }

  .nav-mid-b {
    order: 4;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .nav-low {
    margin-top: 1rem;
    padding-top: 1rem;
    order: 4;
  }

  .input#dur,
  .duration,
  .nav-low,
  .reprod,
  .low-b,
  .nav-up,
  .nav-mid-b,
  .nav-mid-a,
  .mid-a-down,
  .mid-a-up {
    max-width: 100%;
  }

  .nav-mid-a,
  .nav-mid-b {
    padding: 8px;
  }

  .nav-mid-a {
    height: 350px;
    margin-top: 10px;
  }

  .nav-mid-b {
    height: 350px;
    margin-top: 0;
  }

  .up-left {
    justify-content: center;
    align-items: center;
  }

  .up-a {
    justify-content: center;
  }

  .logo {
    justify-content: center;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 1050px) {
  .nav-left {
    height: 750px;
  }

  .nav-up {
    height: 110px;
    justify-content: center;
  }

  .up-a {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-up {
    height: 140px;
    margin-bottom: 10px;
    justify-content: center;
  }

  .flechas {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .up-a {
    justify-content: center;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-left {
    width: 100%;
    order: 1;
  }

  .nav-up {
    min-height: 160px;
    order: 2;
  }

  .nav-mid-a {
    order: 3;
  }

  .nav-mid-b {
    order: 4;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .nav-low {
    margin-top: 1rem;
    padding-top: 1rem;
    order: 4;
  }

  .input#dur,
  .duration,
  .nav-low,
  .reprod,
  .low-b,
  .nav-up,
  .nav-mid-b,
  .nav-mid-a,
  .mid-a-down,
  .mid-a-up {
    max-width: 100%;
  }

  .nav-mid-a,
  .nav-mid-b {
    padding: 8px;
  }

  .nav-mid-a {
    height: 350px;
    margin-top: 10px;
  }

  .nav-mid-b {
    height: 350px;
    margin-top: 0;
  }

  .up-left {
    justify-content: center;
    align-items: center;
  }

  .up-a {
    justify-content: center;
  }

  .logo {
    justify-content: center;
    padding-top: 5px;
  }
}
