::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: $background-nav;
}

::-webkit-scrollbar-thumb {
	background: $scrollbar-backg;
}

::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background: $scrollbar-backg;
}
