$background: #121212;
$background-card: #282828;
$background-nav: #030303;
$text-color: #ffffff;
$text-sub-color: #929292;
$slider-backg: #d3d3d3;
$slider-hover-backg: #1db954;
$reprod-btn: #1ed760;
$selected-backg: #282828;
$user-backg: #050505;
$user-hover-backg: #333333;
$scrollbar-backg: #4f4f4f;
$supercard-backg: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
