.nav-up {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 65px;
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      grid-template-columns: 2fr 0.5fr 0.5fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'up-a up-b up-c';
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: nav-up;
}

.nav-up .flechas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-up .flechas .fas {
  max-width: 27px;
  margin: 0rem 1rem 0rem 1rem;
  font-size: 1.7rem;
  color: #929292;
}

.nav-up .flechas .fas:hover {
  cursor: pointer;
}

.nav-up .premium {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 3px;
  width: 150px;
  height: 38px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.nav-up .premium:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #ffffff;
  text-decoration: none;
}

.nav-up .premium:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  text-decoration: none;
}

.nav-up .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #050505;
  border-radius: 30px;
  width: 160px;
  height: 35px;
  padding: 10px;
}

.nav-up .user:hover {
  background-color: #333333;
  cursor: pointer;
}

.nav-up .user .user-link {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-up .avatar {
  width: 25px;
  border-radius: 30px;
}

.up-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.up-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: up-a;
}

.up-b {
  margin: 0 10px 0 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: up-b;
}

.up-b a {
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.up-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: up-c;
}

.premium-link:hover {
  text-decoration: none;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buscador i {
  position: relative;
  left: 35px;
  font-size: 1.5rem;
  color: #929292;
}

.buscador-input {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-size: 0.9rem;
  padding-left: 40px;
}

.biblio-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.biblio-link {
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
}

.biblio-link:hover {
  cursor: pointer;
}

.nav-low {
  min-height: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #282828;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav-low;
}

.low-a {
  height: 80px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.low-b {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.artist-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reprod {
  height: 50px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.duration {
  height: 30px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mini {
  height: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tools {
  height: 85px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  font-size: 0.9rem;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #929292;
}

.icon:hover {
  color: #ffffff;
  cursor: pointer;
}

.play {
  font-size: 2rem;
}

input#vol {
  width: 100px;
}

.icon-hearth {
  color: #929292;
}

.icon-hearth:hover {
  cursor: pointer;
  color: #ffffff;
}

.icon-window {
  color: #929292;
}

.icon-window:hover {
  cursor: pointer;
  color: #ffffff;
}

.nav-left {
  height: 700px;
  min-width: 250px;
  padding: 10px;
  background-color: #030303;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.9fr 0.7fr 2fr;
      grid-template-areas: 'logo' 'left-b' 'left-c' 'left-d';
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: nav-left;
}

.logo {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.logo:hover {
  cursor: pointer;
}

.logo .fab {
  padding-right: 10px;
  font-size: 2.6rem;
}

.left-b {
  padding: 0px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-b;
}

.left-b .selected {
  width: 100%;
  background-color: #282828;
  border-radius: 4px;
  color: #ffffff;
}

.left-b .selected a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.left-b a {
  text-decoration: none;
  font-weight: bold;
  color: #929292;
}

.left-b a:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.left-b .fas {
  margin-right: 10px;
  font-size: 1.4rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 40px;
  font-size: 1rem;
  color: #929292 !important;
}

.nav-links .fas {
  font-size: 1.1rem;
}

.nav-links:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.nav-links-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 8px 0 8px 0;
  color: #929292;
}

.nav-links-playlist:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.left-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: left-c;
}

.left-c a {
  text-decoration: none;
  font-weight: bold;
  color: #929292;
}

.left-c a:hover {
  cursor: pointer;
  color: #ffffff;
}

.left-c .fas,
.left-c .fab {
  margin-right: 10px;
  font-size: 1.8rem;
}

.left-c .playlist-title {
  font-size: 0.8rem;
  margin: 15px 50px 5px 15px;
  color: #929292;
}

.left-c ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-c ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-d {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: left-d;
}

.left-d li {
  padding: 3px;
  padding-left: 10px;
}

.left-d a {
  text-decoration: none;
  color: #929292;
}

.left-d a:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.install {
  margin-left: 20px;
}

.install i {
  margin-right: 0px;
}

.left-c .fas,
.left-c .fab {
  max-width: 25px;
}

.nav-mid-a {
  height: 310px;
  padding: 1.5rem;
  padding-top: 5px;
  padding-right: 0px;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1.7fr;
      grid-template-areas: 'mid-a-up' 'mid-a-down';
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: nav-mid-a;
}

.mid-a-up {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mid-a-up;
}

.mid-a-down {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mid-a-down;
  min-height: 260px;
}

.nav-mid-b {
  height: 320px;
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  padding-right: 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1.7fr;
      grid-template-areas: 'mid-b-up' 'mid-b-down';
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: nav-mid-b;
}

.mid-b-up {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mid-b-up;
}

.mid-b-down {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mid-b-down;
}

.cards {
  background-color: #282828;
  padding: 1rem;
  margin: 0 0.5rem 0 0.5rem;
  height: 220px;
  width: 160px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cards:hover {
  cursor: pointer;
}

.super-card {
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  background-image: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  padding: 1rem;
  margin: 0 0.5rem 0 0.5rem;
  height: 220px;
  min-width: 320px;
  line-height: 2;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.super-card:hover {
  cursor: pointer;
}

.super-artists {
  color: #929292;
  font-size: 1rem;
}

.super-title {
  font-size: 2rem;
}

.super-subtitle {
  font-size: 1rem;
}

.playlist-list {
  max-height: 300px;
  overflow-y: scroll;
}

.title {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  width: 360px;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title-low:hover {
  cursor: pointer;
  text-decoration: underline;
}

.album-title {
  color: #ffffff;
  font-weight: bold;
}

.album-subtitle {
  font-size: 0.9rem;
  color: #929292;
}

.album-subtitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

.album-cover {
  padding-bottom: 1rem;
}

.album-mini {
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.album-mini:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../fonts/CircularStd-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-BoldItalic.woff2") format("woff2"), url("../fonts/CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-MediumItalic.woff2") format("woff2"), url("../fonts/CircularStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #4f4f4f;
}

.slidecontainer {
  width: 100%;
}

.slider-a {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider-b {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider-a:hover,
.slider-b:hover {
  opacity: 1;
  background-color: #1db954;
}

.slider-a::-webkit-slider-thumb,
.slider-b::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 6px;
  background: #121212;
  cursor: pointer;
}

.slider-a::-moz-range-thumb,
.slider-b::-moz-range-thumb {
  width: 20px;
  height: 6px;
  background: #121212;
  cursor: pointer;
}

.card-inside {
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.canciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 2rem;
}

.data-album {
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-temas {
  width: 100%;
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-low {
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.canciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo-album {
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  padding-bottom: 0.5rem;
}

.titulo-artista {
  font-weight: lighter;
  font-size: 1rem;
  color: #929292;
  padding-bottom: 1rem;
}

.titulo-artista:hover {
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}

.repro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  background-color: #1ed760;
  color: #ffffff;
  border-radius: 30px;
  padding: 1rem;
  width: 170px;
  height: 35px;
  margin-bottom: 1rem;
}

.repro-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}

.repro-btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.data-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.album-tapa {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.tema {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem;
}

.tema:hover {
  background-color: #282828;
}

.art-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.artista-card {
  margin-left: 20px;
}

@media only screen and (max-width: 700px) {
  .nav-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 120px;
    padding-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .up-a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: up-a;
  }
  .up-b {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: up-b;
  }
  .up-b a {
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  .nav-low {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 380px) {
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav-up {
    min-height: 160px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav-mid-a {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .nav-mid-b {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .nav-low {
    margin-top: 1rem;
    padding-top: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .input#dur,
  .duration,
  .nav-low,
  .reprod,
  .low-b,
  .nav-up,
  .nav-mid-b,
  .nav-mid-a,
  .mid-a-down,
  .mid-a-up {
    max-width: 100%;
  }
  .nav-mid-a,
  .nav-mid-b {
    padding: 8px;
  }
  .nav-mid-a {
    height: 350px;
    margin-top: 10px;
  }
  .nav-mid-b {
    height: 350px;
    margin-top: 0;
  }
  .up-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .up-a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 1050px) {
  .nav-left {
    height: 750px;
  }
  .nav-up {
    height: 110px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .up-a {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-up {
    height: 140px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flechas {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .up-a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav-up {
    min-height: 160px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav-mid-a {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .nav-mid-b {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .nav-low {
    margin-top: 1rem;
    padding-top: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .input#dur,
  .duration,
  .nav-low,
  .reprod,
  .low-b,
  .nav-up,
  .nav-mid-b,
  .nav-mid-a,
  .mid-a-down,
  .mid-a-up {
    max-width: 100%;
  }
  .nav-mid-a,
  .nav-mid-b {
    padding: 8px;
  }
  .nav-mid-a {
    height: 350px;
    margin-top: 10px;
  }
  .nav-mid-b {
    height: 350px;
    margin-top: 0;
  }
  .up-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .up-a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body,
.container-fluid,
#container {
  background-color: #121212;
}

.hidden {
  display: none;
}

button:focus {
  outline: 0;
}

ul {
  list-style-type: none;
}

.grid-container {
  height: 790px;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1.2fr 1fr 1fr;
      grid-template-columns: 0.8fr 1.2fr 1fr 1fr;
  -ms-grid-rows: 0.3fr 1.5fr 1.7fr 0.5fr;
      grid-template-rows: 0.3fr 1.5fr 1.7fr 0.5fr;
      grid-template-areas: 'nav-left nav-up nav-up nav-up' 'nav-left nav-mid-a nav-mid-a nav-mid-a' 'nav-left nav-mid-b nav-mid-b nav-mid-b' 'nav-low nav-low nav-low nav-low';
}

.container-fluid {
  padding: 0;
  margin: 0;
}
